* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #1f1d2b;
  color: #ececec;
}

.container {
  max-width: 1250px;
  margin: 0px auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol,
ul {
  list-style: none;
}

@media (max-width: 750px) {
  header .wrapper {
    flex-direction: column;
  }
}
